<p id="notice"><%= notice %></p>

<h1>Mis Pokemons</h1>
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Level</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @catches.each do |catch| %>
          <tr>
            <td><%= catch.pokemon.name %></td>
            <td><%= catch.pokemon.description %></td>
            <td><%= catch.level %></td>        
            <td><%= link_to 'Subir nivel', level_up_catch_path(catch), method: :patch %></td>        
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <ul class="list-group">
      <% @pokemons.each do |pokemon| %>
        <li class="list-group-item">
        <%= pokemon.name %>
        <%= link_to 'Agregar', add_pokemon_catches_path(pokemon_id: pokemon), method: :post, class: 'btn btn-success pull-right' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
